body{
    background-color: #605052;
}

input{
    border-radius: 5px;
    border-style: solid;
    border-color: #605052;
}
#header{
    background-color: #211a23;
    margin: 0;
    padding-top: 10px;
    box-shadow: 3px 3px;
}
#header h1{
    color: white;
    display: inline-block;
    font-size: 100px;
    margin: 0px;

}
#header #logo {
    height: 80px;
    width: 80px;
    filter: invert();
    margin-left: 10%;
}
.rotateIcon{
    transform: rotate(135deg);
    transition: transform .25s  ease;

}
.rotateIconReverse{
    transform: rotate(0deg);
    transition: transform .25s  ease;

}

.addBook{
    width: 80px;
    height: 80px;
    filter: invert();
    float: right;
    margin-right: 15%;
    display: inline-block;
    margin-top: 12px;
    cursor: pointer;
}


.fadeIn{
    -webkit-animation: fadein ease .5s;
}
.fadeOut{
    -webkit-animation: fadeout ease .5s;
}
@keyframes fadein {
    0%{opacity: 0;}
    100%{opacity: 1;}
}

@keyframes fadeout {
    0%{opacity: 1;}
    100%{opacity: 0;
    visibility: hidden;}
}


.libraryWrap{
    width: 90%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}
.addBookContainer{
    position:fixed;
    left: -3px;
    background-color: #211a23;
    border-top:solid black 1px;
    width:103%;
    color: white;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
}

.innerContent{
    display: inline-flex;
    margin-left: 10%;
}
.innerContentInputs{
    margin-left: 20px;
    margin-bottom: 20px;
}

#submitBtn{
    height: 50px;
    width: 200px;
    background-color: #605052;
    font-size: 35px;
    margin-top:30px;
    margin-left: 20px;
    display: flex;
    color: white;
}


.book-list-wrapper,
.show-header-shadow { box-shadow: 0 3px 6px rgba(1,1,2,43.16), 0 3px 6px rgba(0,0,0,0.23); }

.book-list-wrapper {
    flex: 1 50%;
    position: relative;
    max-width: 750px;
    min-width: 750px;
    margin: 20px;
    height: 250px;
}

.book-list-wrapper span {
    position: absolute;
    right: 30px;

}


.book-status-wrapper { bottom: 20px; }

.book-list {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;

    color: #fff;
    background-color: #512C31;
    text-align: center;
}

.book-status {

    cursor: pointer;
    font-size: 1.3rem;
}
.book-read { background-color: #c9b003; }

.book-not-read { background-color: #211a23 }

.book-not-read, .book-read{width: 80px; margin-left: 30px; border-radius: 4px;}
.remove-button { font-size: 3.2rem; }

.book-title, .book-author { margin-bottom: 10px;}

.book-title {
    margin-top: 50px;
    text-transform: uppercase;
    font-size: 2.5rem;
}

.book-title:after {
    content: "";
    display: block;
    width: 200px;
    height: 2.5px;
    margin: 10px auto;
    background-color: #211a23;
}

.del-btn{
    filter: invert();
    border: none;
    cursor: pointer;
    height: 50px;
    width: 40px;
}
.book-author { font-size: 2rem;}

.book-pages { font-size: 1.6rem; }
.book-author, .book-pages{margin-left: -1px;}
.book-status-wrapper {
    margin-top: -98px;
    color: #fff;
    width: 20%;
    margin-left: 20px;
    text-align: center;
}

.book-status-wrapper h2 { font-size: 1.5rem; }
.self-flex-end {margin-top: -90px}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}